.App {
  margin: 50px;
}

.App-search {
  text-align: center;
  margin: 50px auto;
  width: fit-content;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--action);
  transition: .3s;
}

.App-search:hover, .App-search:focus-within {
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.5);
  z-index: 10;
}

.App-search input {
  font-size: 30px;
  padding: 5px;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  border: none;
  color: var(--action);
  background: var(--background2);
}

@media (max-width:768px) {
  .App-search input {
    width: 100%;
  }
}

.App-search input[type="submit"] {
  background: var(--action);
  color: var(--background2);
  border-left: 1px solid var(--action);
  transition: .3s;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.App-search input[type="submit"]:hover {
  color: var(--background);
  font-weight: bold;
}

.App-feedbacks {
  display: block;
}

.App-feedbacks .⭐ {
  margin: 20px;
}

@media (min-width: 800px) {
  .App-feedbacks {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .App-feedbacks .⭐ {
    margin: 10px;
  }
}

@media (min-width: 1100px) {
  .App-feedbacks {
    grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 1370px) {
  .App-feedbacks {
    grid-template-columns: repeat(4, auto);
  }
}